################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FluidSharp/FluidSharp.System.Data/bin/Debug
